main
{
    display: flex;
    flex-direction: column;
}
.encavezado
{
    display: flex;
    flex-direction: row;
}
.categoriaJuegos
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
h2
{
    color:black;
    background-color: #efa2a2;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    border-bottom: dashed 1px black;
    border-top: dashed 1px black
}



 
a
{
    display:block;
}

.juego
{
    border: 1px solid black;
    width: 800px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    margin-bottom: 5px;
}

main img
{
    width: 300px;
    height: 300px;
}

.juego div
{
    margin-top:20px;
    display: block;
    border-top:solid 10px red;
    border-right: dotted 1px red;
    border-left: dotted 1px red;
    border-bottom: dotted 1px red;
    border-radius: 5px;
    width: 300px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.categoriaJuegos
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icono {
    font-size: 24px;
    opacity: 0.5; 
    transition: opacity 0.3s;
    animation: parpadeo 0.2s infinite alternate;
}


@keyframes parpadeo {
    0% { opacity: 0.5; }
    100% { opacity: 1; }
}


nav.red-menu, .menuNivel1.red-menu {
    background-color: red !important;
    color: white;
}


