*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: #c539a7;
    padding-bottom: 65px;
}

/* ESTO ES UN COMENTARIO */
h2
{
    color:black;
    background-color: #efa2a2;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    border-bottom: dashed 1px black;
    border-top: dashed 1px black
}

a
{
    display:block;
}

h1
{
    font-family: "Tagesschrift", system-ui;
    color:white;
    font-weight: 400px;
    font-style:normal;
    font-size:90px;
    margin-left: 150px;
    margin-right: 300px;
    float:left;
}

.categoriaJuegos
{
    text-align: center;
}

footer
{
    background-color: #999;
    width: 100%;
    text-align: center;
    height: 60px;
    margin-top: 5px;
    position:fixed;
    bottom: 0px;
}

footer > a
{
    display: inline-block;
    margin-left: 5%;
    margin-top: 20px;
    position: relative;
    text-decoration: none;
    color:white;
}

.juego
{
    border: 1px solid black;
    width: 800px;
    margin:auto;
    padding: 7px;
}

figure, .juego img
{
    margin-bottom: 10px;
}

.juego h3
{
    margin-bottom: 6px;
}

.juego div
{
    margin-top:20px;
    display: block;
    border-top:solid 10px red;
    border-right: dotted 1px red;
    border-left: dotted 1px red;
    border-bottom: dotted 1px red;
    border-radius: 5px;
    width: 300px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

header
{
    background-color: black;
    height: 170px;
}

header img
{
    width: 150px;
    height: 150px;
}

#logo, #logo2
{
    float:left;
}

header p
{
    color:white;
    clear:left;
    display: block;
    text-align: center;
    font-style:normal;
    font-size: 15px;
    font-style: normal;
}